<!DOCTYPE html>

<head>
	<meta charset="utf-8"/>
	<title>{{'Editing ' + c.name if c else 'Create community'}} | CrystalVulpine's forum</title>
	<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='main.css') }}'/>
	<script src='{{ url_for('static', filename='jquery.min.js') }}'></script>
</head>

<body>
	<div class="header">
		<a href="/">Home</a>
		<div class="header-right">
			{% if v %}
				<a href="/user/{{ v.username }}">{{ v.username }}</a>
				<a href="javascript:void(0)" onclick="$.post('/api/logout', ()=>{window.location.reload(true)})">Log out</a>
			{% else %}
				<a href="/login">Sign up or Log in</a>
			{% endif %}
		</div>
	</div>
	<div class="content">
		<form id="community" action="/api/edit_community" method="post">
			{% if not c %}
				<input type="text" name="name" placeholder="Name" class="search-bar" minlength="1" maxlength="25" required>
			{% else %}
				<input type="hidden" name="name" value="{{ c.name }}">
			{% endif %}
			<input type="text" name="title" placeholder="Title" class="search-bar" minlength="1" maxlength="50" value="{{ c.title if c.title else '' }}" required>
			<input type="text" name="description" placeholder="Description" class="search-bar" minlength="1" maxlength="500" value="{{ c.description if c.description else '' }}">
			<input type="text" name="sidebar" placeholder="Sidebar" class="search-bar" minlength="1" maxlength="10000" value="{{ c.sidebar if c.sidebar else '' }}">
			<select name="mode">
				<option value="public"{{ ' selected="true"' if c.mode == 'public' else '' }}>Public</option>
				<option value="private"{{ ' selected="true"' if c.mode == 'private' else '' }}>Private</option>
				<option value="restricted"{{ ' selected="true"' if c.mode == 'restricted' else '' }}>Restricted</option>
				<option value="exclusive"{{ ' selected="true"' if c.mode == 'exclusive' else '' }}>Exclusive</option>
				<option value="archived"{{ ' selected="true"' if c.mode == 'archived' else '' }}>Archived</option>
			</select>
			<input type="text" name="icon_url" placeholder="Icon URL" class="search-bar" value="{{ c.icon_url if c.icon_url else '' }}">
			<input type="text" name="banner_url" placeholder="Banner URL" class="search-bar" value="{{ c.banner_url if c.banner_url else '' }}">
			<a onclick="document.getElementById('community').submit()" class="submit-button" href="javascript:void(0)" style="margin-right:-15px">Submit</a>
		</form>
	</div>
</body>
