<!DOCTYPE html>

<head>
	<meta charset="utf-8"/>
	<title>Log in | CrystalVulpine's forum</title>
	<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='main.css') }}'/>
</head>

<body>
	<div class="header">
		<a href="/">Home</a>
		<div class="header-right">
			{% if v %}
				<a href="/user/{{ v.username }}">{{ v.username }}</a>
				<a href="javascript:void(0)" onclick="$.post('/api/logout', ()=>{window.location.reload(true)})">Log out</a>
			{% else %}
				<a href="/login">Sign up or Log in</a>
			{% endif %}
		</div>
	</div>
	<div class="content">
	    <div style="width:300px">
			<form id="register" action="/api/register" method="post">
				<input type="text" name="username" placeholder="Username" class="search-bar" minlength="1" maxlength="25" required>
				<input type="text" name="password" placeholder="Password" class="search-bar" required>
				<input type="text" name="password2" placeholder="Confirm password" class="search-bar" required>
				<input type="text" name="email" placeholder="Email address (optional)" class="search-bar" required>
				{% if "REGISTER_INVALID_USERNAME" in get_flashed_messages() %}
					<p style="color:red">Invalid username</p>
				{% elif "REGISTER_USERNAME_TAKEN" in get_flashed_messages() %}
					<p style="color:red">That username is already taken</p>
				{% elif "REGISTER_PASSWORDS_DONT_MATCH" in get_flashed_messages() %}
					<p style="color:red">Passwords do not match</p>
				{% endif %}
				<a onclick="document.getElementById('register').submit()" class="submit-button" href="javascript:void(0)" style="margin-right:-15px">Sign up</a>
			</form>
		</div>
		<div style="width:300px">
			<form id="login" action="/api/login" method="post">
				<input type="text" name="username" placeholder="Username" class="search-bar" minlength="1" maxlength="25" required>
				<input type="text" name="password" placeholder="Password" class="search-bar" required>
				{% if "LOGIN_INVALID_USERNAME" in get_flashed_messages() %}
					<p style="color:red">Invalid username</p>
				{% elif "LOGIN_USER_DOESNT_EXIST" in get_flashed_messages() %}
					<p style="color:red">That account doesn't exist</p>
				{% elif "LOGIN_USER_DELETED" in get_flashed_messages() %}
					<p style="color:red">That account is deleted</p>
				{% elif "LOGIN_WRONG_PASSWORD" in get_flashed_messages() %}
					<p style="color:red">Wrong password</p>
				{% endif %}
				<a onclick="document.getElementById('login').submit()" class="submit-button" href="javascript:void(0)" style="margin-right:-15px">Log in</a>
			</form>
		</div>
	</div>
</body>
