<!DOCTYPE html>

<head>
	<meta charset="utf-8"/>
	<title>{{ p.title }} | CrystalVulpine's forum</title>
	<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='main.css') }}'/>
	<script src='{{ url_for('static', filename='jquery.min.js') }}'></script>
</head>

<body>
	<div class="header">
		<a href="/">Home</a>
		<div class="header-right">
			{% if v %}
				<a href="/user/{{ v.username }}">{{ v.username }}</a>
				<a href="javascript:void(0)" onclick="$.post('/api/logout', ()=>{window.location.reload(true)})">Log out</a>
			{% else %}
				<a href="/login">Sign up or Log in</a>
			{% endif %}
		</div>
	</div>
	{% if c %}
		<div class="banner" style="background: url({{ c.banner_url }})">
		</div>
	{% endif %}
	<div class="side">
		<p></p>
		<a class="submit-button" href="{{'/c/' + c.name if c else ''}}/submit">Submit a post</a>
	</div>
	<div class="content">
		<h3>{{ c.name + ':' + c.title if c else '' }}</h3>
		<div class="post">
			{% set communities = p.communities.all() %}
			<h5><a href="{{('/c/' + c.name if c else '') + '/post/' + p.id|string + '/' if not p.url or p.url == '' else p.url}}">{{ p.title }}</a></h5>
			<small>Posted by 
			{% if p.deleted %}
				<b>[Deleted user]</b>
			{% else %}
				<a href="/user/{{ p.author.username }}/">{{ p.author.username }}</a>
			{% endif %}
			at {{ p.creation_date }}</small>
			
			{% if communities|length > 0 %}
				<br><small>Posted in: 
				{% for com in communities %}
					{% if (v and v.id == p.author_id) or not com.removed %}
						<a href="/c/{{ com.community.name }}/">{{ com.community.name }}</a> 
					{% endif %}
				{% endfor %}
				</small>
			{% endif %}
			<br><div class="body">
				<p>{{ p.body }}</p>
			</div>
		</div>
		<form id="comment-0" action="/api/comment" method="post">
			<input type="text" name="body" placeholder="Comment" class="search-bar" maxlength="10000">
			<input type="hidden" name="post" value="{{ p.id }}">
			<input type="hidden" name="parent" value="0">
			<input type="hidden" name="community" value="{{ c.id if c else 0 }}">
			<a onclick="document.getElementById('comment-0').submit()" class="submit-button" href="javascript:void(0)" style="margin-right:-15px">Submit</a>
		</form>
		{% macro render_comment(pcomment) -%}
			{% set ccomment = pcomment.comment %}
			{% set comment = ccomment.comment %}
			{% if ((not ccomment.removed or (v and v.id == comment.author_id)) and not comment.deleted) or pcomment.children|length > 0 %}
				<div class="comment" id="{{ comment.id }}">
					<small>Posted by 
					{% if comment.deleted %}
						<b>[Deleted user]</b>
					{% else %}
						<a href="/user/{{ comment.author.username }}/">{{ comment.author.username }}</a>
					{% endif %}
					at {{ comment.creation_date }}</small>
					{% if ccomment.removed and not (v and v.id == comment.author_id)  %}
						<em style="background-color: gray">[removed]</em>
					{% else %}
						<p>{{ comment.body }}</p>
					{% endif %}
					<small><a class="reply-button" id="reply-{{ comment.id }}" href="javascript:void(0)" onclick="document.getElementById('comment-{{ comment.id }}').style = ''">reply</a></small>
					<form id="comment-{{ comment.id }}" action="/api/comment" method="post" style="display: none!important">
						<input type="text" name="body" placeholder="Comment" class="search-bar" maxlength="10000">
						<input type="hidden" name="post" value="{{ p.id }}">
						<input type="hidden" name="parent" value="{{ comment.id }}">
						<input type="hidden" name="community" value="{{ c.id if c else 0 }}">
						<a onclick="document.getElementById('comment-{{ comment.id }}').submit()" class="submit-button" href="javascript:void(0)" style="margin-right:-15px">Submit</a>
						<a onclick="document.getElementById('comment-{{ comment.id }}').style = 'display: none!important'" class="submit-button" href="javascript:void(0)" style="margin-right:-15px">Cancel</a>
					</form>
					{% for child in pcomment.children %}
						{{ render_comment(child) }}
					{% endfor %}
				</div>
			{% endif %}
		{%- endmacro %}
		
		{% for pcomment in comments %}
			{{ render_comment(pcomment) }}
		{% endfor %}
	</div>
</body>
